body {
    background-color: grey;
    font-size: 30px;
}

h1 {
    color: steelblue;
    text-shadow: 2px 2px 5px black;
}

.inputDesc {
    color: steelblue;
    font-size: 1em;
    text-shadow: 1px 1px 2px black;
}

#btn-tree {
    margin-top: 24px;
}

#treeDiv {
    text-align: center;
    background-color: black;
    color: blue;
}